* {
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
   /* overflow: hidden;*/
}

body:-webkit-full-screen {
    width: 100%;
    height: 100%;
  }

/* Tell the browser to render HTML 5 elements as block  */  
header, footer, aside, nav, article {  
    display: block;  
}

/* Base elements: .com, .jahova, .os */
.com {
    height: 590px;
    width: 1200px;
    background-color: #aec7df;
    border: 1px solid #8992a3;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    z-index: 0;
}

.jahova {
    position: relative;
    height: 563px;
    width: 1186px;
    top: 20px;
    left: 5px;
    background-color: #627596;
    border: 1px solid #8992a3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    z-index: 0;
}

.os {
    position: absolute;
    height: 20px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #b0bccd;
    border-bottom: 1px solid #8992a3;
    z-index: 0;
}
.desktop{
/*    min-height: 100%;
    width: 100%;
    margin: 0 auto;
    position: relative;
    background-color: #9CAAC1;
    z-index: 0;*/
}

.dock {
    position:absolute;
    bottom: 0;
    left: 0;
    
    width: 100%;
    height: 26px;
    z-index: 1000;


    font-size: 20px;
    margin: 0;
    padding: 0;
    border-top: 1px solid #666;
    text-align: center;
    
    background-image: -webkit-gradient(linear, left top, left bottom, from(#CCC), to(#999));
    background-image: -moz-linear-gradient(top , #CCC, #999);
    
    text-shadow: 0 1px 0 #FFF;

}

.startButton{
    float: left;
    /*position:absolute;
    bottom: 0;
    left: 0;*/
    height: 26px;
    width: 125px;
    text-align: center;
    border-right: 1px solid #666;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#7FA0CC), to(#676D99));
    background-image: -moz-linear-gradient(top , #7FA0CC, #676D99);
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    text-shadow: 0 1px 0 #FFF;
    /*
    -webkit-transition: .25s;
    -moz-transition: .25s;
    */
}
/*
.startButton:hover{
   height: 400px;
   width: 250px;

}
*/
/*
.startButton:hover ul.ApplicationList li{
    display: block;
}


*/


.startMenu{

    height: 0;
    width: 250px;
    /*
    position:absolute;
    bottom: 0;
    left: 0;
    */
    position: absolute;
    
    top: 0;
    left: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#CCC), to(#999));
    background-image: -moz-linear-gradient(top , #CCC, #999);
    /*
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    */
    transition: all .25s linear;
    -webkit-transition: all .25s linear; /* Transitions          */
    -moz-transition: all .25s linear;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    
    -moz-box-shadow: 3px -8px 20px #373737;
    -webkit-box-shadow: 3px -8px 20px #373737;
}

.startButton:hover .startMenu{
    height: 400px;
    top: -402px;
    border: 1px solid #666;
    /*-webkit-transform: translateY(-400px);*/
    
   /*width: 250px;*/

}

.startButton:hover .application{
    height: 40px;
    line-height: 40px;
    visibility: visible;
}

.application {
    height: 0;
    border-right: 1px solid #666;
    visibility: hidden;
    cursor: pointer;
    vertical-align: middle;
    width: 100%;
    text-align: center;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#CCC), to(#999));
    background-image: -moz-linear-gradient(top , #CCC, #999);
    text-shadow: 0 1px 0 #C1C1C1;
    transition: all .25s linear;
    -webkit-transition: all .25s linear; /* Transitions          */
    -moz-transition: all .25s linear;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}



/* Debug sidebar, vertical tabs and tab text elements */
.debugBar {
    position: relative;
    width: 25px;
    height: 536px;
    top: 24px;
    left: 0;
    z-index: 0;
}

.debugTab {                         /* Dependent on debug sidebar positioning */
    width: 20px;
    height: 90px;
    margin-top: 3px;
    background-color: #8191ab;
    border-top: 1px solid #333366;
    border-right: 2px solid #333366;
    border-bottom: 3px solid #333366;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-right-radius: 4px;
    z-index: 0;
}

.debugTabTxt {
    font-family: helvetica;
    font-size: 12px;
    color: #333366;
    margin: 3px;
    -webkit-transform-origin: bottom left;
    -moz-transform-origin: bottom left;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    z-index: 0;
}

/* Tab transitioning base page, header, and images          */
.debugPage {                        /* Default size 400x480 */
    position: absolute;             /* Positioning          */
    top: 1px;
    left: 23px;
    width: 0;                       /* Size                 */
    height: 480px;
    z-index: 0;                     /* Z order              */
    background-color: #8191ab;      /* Color                */
    -webkit-border-radius: 5px;     /* Border radius        */
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: width .25s; /* Transitions          */
    -moz-transition: width .25s;
    transition: width .25s;
}
.debugPagePin {                     /* Pinned state of class */
    position: absolute;             /* Positioning          */
    top: 1px;
    left: 23px;
    width: 0;                   /* Size, Note: Pinned size may be over written as needed via jscript to conform to content */
    height: 480px;
    z-index: 0;                     /* Z order              */
    background-color: #8191ab;      /* Color                */
    -webkit-border-radius: 4px;     /* Border radius        */
    -moz-border-radius: 4px;
    border-radius: 4px;    
    width: 400px;                   /* Pinned size may be over written as needed via jscript */
    height: 480px;
    z-index: 0;
    -webkit-transition: width .25s; /* Transitions          */
    -moz-transition: width .25s;
    transition: width .25s;
}

.debugPageHeader {                  /* Size 20x100% */ 
    height: 20px;
    width: 100%;
    background-color: #cccccc;
    -webkit-border-top-left-radius: 5px;     /* Border radius        */
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-transition: width .25s; /* Transitions          */
    -moz-transition: width .25s;
    transition: width .25s;
    z-index: 0;
}

.pin {                              /* Used to anchor/pin open debug page */
    visibility: hidden;
    position: absolute;
    padding-top: 3px;
    width: 13px;
    height: 13px;
    top: 3px;
    left: 95%;
    background-image: url('../images/pin.png');
    background-repeat: no-repeat;
    z-index: 0;
}

.pinPin {                           /* Used to anchor/pin open debug page */
    position: absolute;
    padding-top: 3px;
    width: 13px;
    height: 13px;
    top: 3px;
    left: 5px;
    background-image: url('../images/pinPin.png');
    background-repeat: no-repeat;
    z-index: 0;
}

/* Base page content. Naming is 1:1 with associated tab text*/
.console {
    position: absolute;
    width: 100%;
    height: 100%;
/*    left: 0;
    resize: none;*/
    color: #21f838;
    font-weight: normal;
    font-family: Monospace;
    font-size: 14px;
    cursor: default;
    background-color: rgba(0,0,0,0.90);
/*    -webkit-border-bottom-radius: 5px;     
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;*/
    -webkit-transition: width .25s; /* Transitions          */
    -moz-transition: width .25s;
    transition: width .25s;
    resize: none;/*
    visibility: inherit;*/
}

.consolePin {
    position: absolute;
    width: 698px;
    height: 457px;
    left: 0;
    resize: none;
    color: #21f838;
    font-weight: normal;
    font-family: Monospace;
    font-size: 14px;
    cursor: default;
    background-color: rgba(0,0,0,0.75);
    -webkit-border-bottom-radius: 5px;     /* Border radius        */
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-transition: width .25s; /* Transitions          */
    -moz-transition: width .25s;
    transition: width .25s;
    z-index: 9;
}


.files {
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 440px;
    left: 0;
    resize: none;
    color: #ffffff;
    background-color: rgba(0,0,0,0.75);
    border: 10px solid #cccccc;
    -webkit-border-bottom-radius: 5px;     /* Border radius        */
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 0;
}

.filesPin {
    position: absolute;
    width: 100%;
    height: 440px;
    left: 0;
    resize: none;
    color: #ffffff;
    background-color: rgba(0,0,0,0.75);
    border: 10px solid #cccccc;
    -webkit-border-bottom-radius: 5px;     /* Border radius        */
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 9;
}

.jahovaIFrame {
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 460px;
    left: 0;
    border: none;
    -webkit-border-bottom-radius: 5px;     /* Border radius        */
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 0;
}

.jahovaIFramePin {
    position: absolute;
    width: 100%;
    height: 460px;
    left: 0;
    border: none;
    -webkit-border-bottom-radius: 5px;     /* Border radius        */
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 9;
}

.demos {
    
}

.ide {
    
}



/* Output Window */
.outputWindow {
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #333366;
    -webkit-border-radius: 5px;     /* Border radius        */
    -moz-border-radius: 5px;
    border-radius: 5px;
}
*/
/* Hover events for all elements */
.debugTab:hover {
    border-right: 2px groove #ffd142;
    border-bottom: 3px groove #ffd142;
    background-color: #ffffff;
}

.debugTab:hover .debugPage {
    width: 400px;
    z-index: 10;
}

.debugTab:hover .debugPagePin {
    z-index: 10;
}

.debugTab:hover .console {
    visibility: visible;
    width: 398px;
    z-index: 10;
}

.debugTab:hover .consolePin {
    visibility: visible;
    z-index: 10;
}

.debugTab:hover .files {
    visibility: visible;
    z-index: 10;
}
.debugTab:hover .jahovaIFrame {
    visibility: visible;
    z-index: 10;
}

.debugTab:hover .jahovaIFramePin {
    visibility: visible;
    z-index: 10;
}

.debugTab:hover .pin {
    visibility: visible;
    z-index: 16;
}

.debugTab:hover .pinPin {
    visibility: visible;
    z-index: 16;
}

.pin:hover {
    background-image: url('../images/pinPin.png');
}

.pinPin:hover {
    background-image: url('../images/pin.png');
}